@import './global.css';

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem 1rem 3rem;
  color: var(--roxo-mosten);
  border-bottom: 3px solid var(--lilas-mosten);
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem
}

.main-body{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-add {
  background-color: var(--laranja-mosten);
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-search {  
  font-weight: bold;
  font-size: 1rem;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: -2rem;
}

.search-input {
  border: 1px solid rgb(219, 219, 219);
  padding: 0.5rem;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.votesContainer {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  margin-top: 2rem;
  border: 4px solid var(--lilas-mosten);
  border-radius: 20px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.votes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.votes-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.all-votes {
  font-size: 2.75rem;
  font-weight: 600;
}

.thumb-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.filter-btns button {
  border-radius: 5px;
  padding: 0.75rem;
  background-color: var(--laranja-mosten);
  color: white;
  font-weight: 600;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}